<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Admin Room Management</title>
  </head>
<style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    #room {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #room td, #room th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #room tr:nth-child(even){background-color: #f2f2f2;}

    #room tr:hover {background-color: #ddd;}

    #room th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #78635A;
        color: white;
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=file] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=number],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


</style>
<body>
    <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #78635A;">
        <div class="container">
            <div class="navbar-header">
                <a href="/room_management" class="navbar-brand">ADMIN PAGE</a>
            </div>
            <button class="navbar-toggler navbar-nav" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav p-3" style="font-size: 18px;">
                    <li class="nav-item">
                        <a href="/room_management" class="nav-link" >Room</a>
                    </li>
                    <li class="nav-item">
                        <a href="/booking_management" class="nav-link">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user_management" class="nav-link">User</a>
                    </li>
                    <li class="nav-item">
                        <a href="/service_management" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Log out</a>
                    </li>
                </ul> 
            </div>
        </div>
    </nav>


    <h1 class = "mt-5 mb-5" style="text-align: center;">Room Management</h1>
    <button class = "btn ml-5 mb-5 w-30" data-toggle="modal" data-target="#addRoom" style="background-color: #78635A; color: white;">Add room</button>
        <table id="room">
            <thead>
                <th style="width: 10%;" id="room_name">Name</th>
                <th style="width: 5%;" id ="no_people">No.P</th>
                <th style="width: 5%;" id = "price_room">Price</th>
                <th style="width: 20%;" id="des_room">Description</th>
                <th style="width: 10%;" id="type_room">Type</th>
                <th style="width: 20%;" id="image_room">Image</th>
                <th style="width: 10%;" id="status_room">Status</th>
                <th style="width: 15%;" id="action_room">Action</th>
            </thead>
            <tbody>
                <%if(roomData && roomData.length > 0){ 
                    roomData.forEach(room => {
                        let status = 'Unavailable';
                        if(room.status === true){
                            status = 'Available';
                        }%>
                        <tr>
                            <td><%= room.name%></td>
                            <td><%= room.noP%></td>
                            <td><%= room.price%><span class="fa fa-dollar"></span></td>
                            <td><%= room.description%></td>
                            <td><%= room.type%></td>
                            <td><%= room.image%></td>
                            <td><%= status%></td>
                            <td>
                                <button class="btn" data-toggle="modal" data-target=".updateRoom<%= room._id %>" style="background-color: #6c785a; color: white;">Update</button>
                                <button class="btn" data-toggle="modal" data-target=".deleteRoom<%= room._id %>" style="background-color: #db7346; color: white;">Delete</button>
                            </td>
                        </tr> 

                        <div class="modal fade updateRoom<%= room._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-titler">Update room</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <form action="/room_management_update" method="post"> 
                                    <div class="modal-body">
                                        <input type="hidden" id="id" name="id" placeholder="" value="<%= room._id%>" required>

                                        <label for="name_r">Name</label>
                                        <input type="text" id="name_r" name="name_r" placeholder="" value="<%= room.name%>" required>

                                        <label for="noP">No of people: </label>
                                        <input type="number" id="noP" name="noP" placeholder="" value="<%= room.noP%>" required min="1" inputmode="decimal">
                                    
                                        <label for="price">Price:</label>
                                        <input type="number" id="price" name="price" placeholder="" value="<%= room.price%>" required min="500000" inputmode="decimal">
                                        
                                        <label for="describe">Description</label>
                                        <input type="text" id="describe" name="describe" placeholder="" required value="<%= room.description%>">
                                        
                                        <label for="type">Type</label>
                                        <select id="type" name="type">
                                            <option value="Basic" <%= (room.type === "Basic") ? "selected" : "" %> >Basic</option>
                                            <option value="Luxury" <%= (room.type === "Luxury") ? "selected" : "" %> >Luxury</option>
                                        </select>
                    
                                        <label for="images">Image</label>
                                        <input type="file" id="images" name="image" src="images/<%= room.image %>" width="100px" height="100px" required accept="images/png, images/jpeg">
                                        
                                        <label for="status">Status</label>
                                        <select id="status" name="status">
                                            <option value="Available" <%= (status === "Available") ? "selected" : "" %> >Available</option>
                                            <option value="Unavailable" <%= (status === "Unavailable") ? "selected" : "" %> >Unavailable</option>
                                        </select>
                                    </div>
                                <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn" style="background-color: #78635A; color: white;">Update</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
                    
                          <div class="modal fade deleteRoom<%= room._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete room</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <form action="/room_management_delete" method="post">
                                    <div class="modal-body">
                                        <input type="hidden" id="id" name="id" placeholder="" value="<%= room._id%>">
                                        <h5>Are you sure you want to delete room: <strong><%= room.name%>?</strong></h5>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn" style="background-color: #78635A; color: white;">Yes</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>

                    <%})
                }%>
            </tbody>
        </table>

    <div class="modal fade" id="addRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add room</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <form action="/room_management_add" method="post">
                <div class="modal-body">
                    <label for="name_r">Name</label>
                    <input type="text" id="name_r" name="name_r" placeholder="" required>
                
                    <label for="noP">No of people</label>
                    <input type="number" id="noP" name="noP" placeholder="" required min="1" inputmode="decimal">

                    <label for="price">Price</label>
                    <input type="number" id="price" name="price" placeholder="" required min="500000" inputmode="decimal">
                    
                    <label for="describe">Description</label>
                    <input type="text" id="describe" name="describe" placeholder="" required>
                    
                    <label for="type">Type</label>
                    <select id="type" name="type">
                        <option value="Basic">Basic</option>
                        <option value="Luxury">Luxury</option>
                    </select>

                    <label for="images">Image</label>
                    <input type="file" id="image" name="image" accept="images/png, images/jpeg" required>
                    
                    <label for="status">Status</label>
                    <select id="status" name="status">
                        <option value="Available">Available</option>
                        <option value="Unavailable">Unavailable</option>
                    </select>
                </div>
            <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn" style="background-color: #78635A; color: white;">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
          </div>
        </div>
      </div>


      
  </body>
</html>
